html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

h2,
h1 {
    text-align: right;
    margin-right: 5vw;
}

h2 {
    margin-top: 3vh;
}

h3 {
    margin-left: 2vw;
}

.photoCV {
    display: block;
    border-radius: 100%;
    width: 20vw;
    margin: 2vh 10vw;
}

.contactIcons {
    width: 4vw;
    margin: 0.5vh;
}

.techStack {
    margin-left: 2vw;
    text-align: center;
}

.techStackIcons {
    width: 6vw;
}

#bootstrapIcon {
    width: 12vw;
    margin-top: 1vw;
}

#angularIcon {
    width: 8vw;
    margin-left: 1vw
}

ul {
    list-style-type: none;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

.row {
    padding: 0;
    height: 100%;
}

.col-5 {
    background-color: antiquewhite;
}

.col-7 {
    background-color: cornsilk;
}

.col-4 {}

.col-8 {
    text-align: right;
    padding-right: 5%;
}

#bio {
    padding: 5vh 1vw;
    text-align: center;
}

@media (orientation: landscape) {
    #bio {
        padding: 5vh 1vw;
        text-align: center;
    }
}

#experiences,
#formations,
#ci {
    margin-bottom: 5vh;
}

#formations,
#ci {
    display: none;
}

.dateLieu {
    margin: 0;
}

.entreprise {
    font-weight: bold;
    margin: 0
}

.poste {
    font-style: italic;
    margin: 0
}

.description {
    font-size: 1.6vw;
    margin-top: 1.5vh;
}

@media (orientation: portrait) {

    html,
    body {
        overflow: hidden;
    }

    #bio {
        padding: 2vh 1vw;
        text-align: center;
    }
}


/* sidebar */

.sidebar {
    display block;
    background-color: green;
    width: 30vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar h1 {
    color: white;
}

.portfolio {
    background-color: red;
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 30vw;
    right: 0;
    bottom: 0;

    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

input[type=checkbox] {
    display: none;
}

input:checked~.portfolio {
    left: 0;
}

input:checked~label {
    left: 0;
}

.zic {}

label {
    display: block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 28vw;
    width: 2vw;
    height: 2vh;
    background-color: blue;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

/* iframe container

.iframe-container {
    width: 100%;
    height: 0;
    position: relative;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

*/